{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
My Personal Blog
{% endblock title %}

{% block content %}
<!-- s-content
    ================================================== -->
<section class="s-content s-content--top-padding">

    <div class="row narrow">
        <div class="col-full s-content__header" data-aos="fade-up">
            <h1 class="display-1 display-1--with-line-sep">Results for: {{ request.GET.q }}</h1>
        </div>
    </div>

    <div class="row entries-wrap add-top-padding wide">
        <div class="entries">
            {% for article in articles %}
            <article class="col-block">

                <div class="item-entry" data-aos="zoom-in">
                    <div class="item-entry__thumb">
                        <a href="{{ article.get_absolute_url }}" class="item-entry__thumb-link">
                            <img src="{{ article.gambar.url }}" srcset="{{ article.gambar.url }} 1x, {{ article.gambar.url }} 2x"
                                alt="">
                        </a>
                    </div>

                    <div class="item-entry__text">
                        <div class="item-entry__cat">
                            <a href="{{ article.kategori.get_absolute_url }}">{{ article.kategori.judul }}</a>
                        </div>

                        <h1 class="item-entry__title"><a href="{{ article.get_absolute_url }}">{{ article.judul }}</a></h1>

                        <div class="item-entry__date">
                            <a href="">{{ article.pub_date | date:"d M Y" }}</a>
                        </div>
                    </div>
                </div> <!-- item-entry -->

            </article> <!-- end article -->
            {% endfor %}


        </div> <!-- end entries -->
    </div> <!-- end entries-wrap -->

    {% if articles.paginator.num_pages > 1 %}
    <div class="row pagination-wrap">
        <div class="col-full">
            <nav class="pgn" data-aos="fade-up">
                <ul>
                    {% if articles.has_previous %}
                    <li><a class="pgn__prev" href="?page={{ articles.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Prev</a></li>
                    {% endif %}

                    {% for pg in articles.paginator.page_range %}
                    <li>
                        <a class="pgn__num {% if articles.number == pg %}current{% endif %}" href="?page={{ pg }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                            {{ pg }}
                        </a>
                    </li>
                    {% endfor %}

                    {% if articles.has_next %}
                    <li><a class="pgn__next" href="?page={{ articles.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    {% endif %}

</section> <!-- end s-content -->


{% endblock content %}