{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Article Detail
{% endblock title %}

{% block content %}
<!-- s-content
    ================================================== -->
<section class="s-content s-content--top-padding s-content--narrow">

    <article class="row entry format-standard">

        <div class="entry__media col-full">
            <div class="entry__post-thumb text-center">
                <img src="{{ article.gambar.url }}" srcset="{{ article.gambar.url }} 2000w,
{{ article.gambar.url }} 1000w,
{{ article.gambar.url }}} 500w"
                    sizes="(max-width: 2000px) 100vw, 2000px" alt="">
            </div>
        </div>

        <div class="entry__header col-full">
            <h1 class="entry__header-title display-1">
                {{ article.judul }}
            </h1>
            <ul class="entry__header-meta">
                <li class="date">{{ article.pub_date | date:"d M Y" }}</li>
                <li class="byline">
                    By
                    <a href="#0">{{ article.penulis.full_name }}</a>
                </li>
            </ul>
        </div>

        <div class="col-full entry__main">

            {{ article.isi }}

            <div class="entry__taxonomies">
                <div class="entry__cat">
                    <h5>Posted In: </h5>
                    <span class="entry__tax-list">
                        <a href="{{ article.kategori.get_absolute_url }}">{{ article.kategori.judul }}</a>
                    </span>
                </div> <!-- end entry__cat -->
            </div> <!-- end s-content__taxonomies -->

            <div class="entry__author">
                <img src="{{ article.penulis.foto.url }}" alt="">

                <div class="entry__author-about">
                    <h5 class="entry__author-name">
                        <span>Posted by</span>
                        <a href="#0">{{ article.penulis.full_name }}</a>
                    </h5>

                    <div class="entry__author-desc">
                        <p>
                            {{ article.penulis.quote }}
                        </p>
                    </div>
                </div>
            </div>

        </div> <!-- s-entry__main -->

    </article> <!-- end entry/article -->


</section> <!-- end s-content -->
{% endblock content %}